@jfxteam:registry=https://npm.pkg.github.com
username=dunloop
email=dunloop8@gmail.com
strict-ssl=false
always-auth=true

scripts-prepend-node-path=true

//npm.pkg.github.com/:_authToken=6b32f2ffe8c45bbe9a193fe2c16fca23cd5a4e77